<div class="layout-page">
  <div class="content-wrapper">

    <div class="container-xxl flex-grow-1 container-p-y">

      <nav style="margin: 0; width:100%"
        class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
        id="layout-navbar">

        <div class="navbar-nav align-items-center">
          <div class="nav-item d-flex align-items-center">
            <i class="bx bx-search fs-4 lh-0"></i>
            <input id="myInput" onkeyup="searchTable()" type="text" class="form-control border-0 shadow-none" placeholder="Search..."
              aria-label="Search..." />
          </div>
        </div>
      </nav>

      {{#if alert}}
      <div class="alert alert-warning alert-dismissible fade show" id="success-alert" role="alert">
        {{alert}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{/if}}

      <div class="d-flex">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Order
            Management /</span>
          Orders</h4>
      </div>

      <div class="card">
        <h5 class="card-header">Order Details</h5>
        <div class="table">
          <table id="myTable" class="table">
            <thead>
              <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>User</th>
                <th>Total</th>
                <th>Payment Method</th>
                <th>Status</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
             
              {{#each allOrders}}
              <tr>
                <td>{{this._id}}</td>
                
                <td>{{this.ordered_on}}</td>
                <td>{{this.deliveryDetails.fname}} {{this.deliveryDetails.lname}}</td>
                <td>{{this.grandTotal}}</td>
                <td>{{this.paymentMethod}}</td>
                <td>{{this.payment_status}}</td>
                <td><a href="/admin/viewAdminOrderPros/{{this._id}}" class="btn btn-primary">More...</a></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>

      <hr />

    </div>
  </div>
</div>

{{! ----Pagination---- }}

<nav aria-label="Page navigation">
  <ul class="pagination pagination-sm justify-content-center">
    <li class="page-item prev">
      <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-left"></i></a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="javascript:void(0);">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="javascript:void(0);">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="javascript:void(0);">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="javascript:void(0);">4</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="javascript:void(0);">5</a>
    </li>
    <li class="page-item next">
      <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-right"></i></a>
    </li>
  </ul>
</nav>