<div class="layout-page">
  <div class="content-wrapper">

    <div class="container-xxl flex-grow-1 container-p-y">

      {{#if alert}}
      <div class="alert alert-warning alert-dismissible fade show" id="success-alert" role="alert">
        {{alert}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{/if}}

      <div class="d-flex">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Order
            Management /</span>
          Order Details</h4>
      </div>

      <div class="card">
        <h5 class="card-header">Order Details</h5>
        <div class="table">
          <table id="myTable" class="table">
            <thead>
              <tr>
                <th>Product</th>
                <th></th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th>Status</th>
                <th>Status Change</th>
                <th>Confirm</th>
              </tr>
            </thead>
            {{#each order.product}}
            <tbody>
              <tr>
                <td><img style="width: 90px;"
                    src="data:{{this.pro_id.Images.0.contentType}};base64,{{this.pro_id.Images.0.imageBase64}}"
                    alt="" /></td>
                <td>{{this.pro_id.Product_Name}}</td>
                <td>{{this.quantity}}</td>
                <td>{{this.subtotal}}</td>
                <td>{{this.status}}</td>
                <form action="/admin/changeOrderStatus" method="post">
                  <td>
                    <select class="form-control" style="width: 60%;" name="orderStatus">
                      <option>Status</option>
                      <option>Ordered</option>
                      <option>Shipped</option>
                      <option>Out for Delivery</option>
                      <option>Delivered</option>
                      <option>Cancelled</option>
                    </select>
                    <input type="text" name="orderId" value="{{../order._id}}" hidden>
                    <input type="text" name="proId" value="{{this._id}}" hidden>
                  </td>
                  <td>
                    <a><button type="submit" class="btn btn-success ms-2" href="#">Change</button></a>
                  </td>
                </form>

              </tr>
            </tbody>
            {{/each}}
          </table>
        </div>
      </div>

      <hr />

    </div>
  </div>
</div>