<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/cart">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>

{{!-- ----cart area---- --}}
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">

                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>{{#each cartItems.products}}
                        <tr>
                            <td>
                                <img style="width: 6rem;" src="data:{{pro_id.Images.0.contentType}};base64,{{pro_id.Images.0.imageBase64}}" alt="">
                            </td>
                            <td>
                                <h5>{{pro_id.Product_Name}}</h5>
                            </td>
                            <td>
                                <h5>₹{{pro_id.MRP}}</h5>
                            </td>
                            <td>
                                <div class="product_count">
                                    <input type="text" name="quantity" maxlength="12" value="{{this.quantity}}"
                                        title="Quantity:" class="input-text qty">
                                    <button
                                        onclick="changeQuantity('{{this._id}}','{{pro_id._id}}','{{this.quantity}}',1)"
                                        class="increase items-count" type="button"><i
                                            class="lnr lnr-chevron-up"></i></button>

                                    <button
                                        onclick="changeQuantity('{{this._id}}','{{pro_id._id}}','{{this.quantity}}',-1)"
                                        class="reduced items-count" type="button"><i
                                            class="lnr lnr-chevron-down"></i></button>

                                </div>
                            </td>
                            <td>
                                <h5>₹{{this.subtotal}}</h5>
                            </td>
                            <td>
                                <button onclick="removeProductFromCart('{{this._id}}')"
                                    class="btn btn-warning">Remove</button>
                            </td>
                        </tr>{{/each}}

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <ul class="list">
                                    <li>Total</li>
                                    <li>Delivery Charge</li>
                                    <li class="mt-2"><h4>Total Amount to Pay</h4></li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list">
                                    <li>{{netTotal}}</li>
                                    <li>{{deliveryCharges}}</li>
                                    <li class="mt-2" style="color: black;"><h4>₹{{grandTotal}}</h4></li>
                                </ul>
                            </td>
                        </tr>

                        <tr class="out_button_area">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="/">Continue Shopping</a>
                                    <a class="primary-btn" href="checkout">Proceed to checkout</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>



<script>
    function changeQuantity(cartId, proId, quantity, count) {

        $.ajax({
            url: '/change-product-quantity',
            data: {
                cart: cartId,
                product: proId,
                quantity: quantity,
                count: count
            },
            method: 'post',
            success: (response) => {
                if (response.removeProduct) {
                    alert('Are u sure to remove this Product from cart?')
                    location.reload()

                } else {
                    location.reload()
                }
            }
        })
    }
</script>
<script>
    
</script>