<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/cart">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>

{{!-- ----cart area---- --}}
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table id="productCount" class="table">

                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>{{#each cartItems.products}}
                        <tr>
                            <td>
                                <img style="width: 6rem;"
                                    src="data:{{pro_id.Images.0.contentType}};base64,{{pro_id.Images.0.imageBase64}}"
                                    alt="">
                            </td>
                            <td>
                                <h5>{{pro_id.Product_Name}}</h5>
                            </td>
                            <td>
                                <h5>₹{{pro_id.MRP}}</h5>
                            </td>
                            <td>
                                <div  class="product_count">
                                    <input type="text" name="quantity" maxlength="12" value="{{this.quantity}}"
                                        title="Quantity:" class="input-text qty">
                                    <button
                                        onclick="changeQuantity('{{this._id}}','{{pro_id._id}}','{{this.quantity}}',1)"
                                        class="increase items-count" type="button"><i
                                            class="lnr lnr-chevron-up"></i></button>

                                    <button
                                        onclick="changeQuantity('{{this._id}}','{{pro_id._id}}','{{this.quantity}}',-1)"
                                        class="reduced items-count" type="button"><i
                                            class="lnr lnr-chevron-down"></i></button>
                                </div>
                            </td>
                            <td>
                                <h5>₹{{this.subtotal}}</h5>
                            </td>
                            <td>
                                <button onclick="removeProductFromCart('{{this._id}}')"
                                    class="btn btn-warning">Remove</button>
                            </td>
                        </tr>{{/each}}

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <ul class="list">
                                    <li>Total</li>
                                    <li>Delivery Charge</li>
                                    <li class="mt-2">
                                        <h4>Total Amount to Pay</h4>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list">
                                    <li id="netTotal">{{netTotal}}</li>
                                    <li id="deliveryCharges">{{deliveryCharges}}</li>
                                    <li id="total" class="mt-2" style="color: black;">
                                        <h4  >₹{{grandTotal}}</h4>
                                    </li>
                                </ul>
                            </td>
                        </tr>

                        <tr class="out_button_area">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="/">Continue Shopping</a>
                                    <a class="primary-btn" href="checkout">Proceed to checkout</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>



<script>
    function changeQuantity(cartId, proId, quantity, count) {

        //let quantity = parseInt(document.getElementById(proId).value)

        $.ajax({
            url: '/change-product-quantity',
            data: {
                cart: cartId,
                product: proId,
                quantity: quantity,
                count: count
               // MRP: MRP
            },
            method: 'post',
            success: (response) => {

                if (response.removeProduct) {
                    alert('Are u sure to remove this Product from cart?')
                    $('#productCount').load(location.href + ' #productCount')

                } else {
                    //location.reload()
                    $('#productCount').load(location.href + ' #productCount')
                    let cou = parseInt(count)
                    let qu = parseInt(quantity)
                    let pr = parseInt(MRP)
                    document.getElementById(proId).value = quantity + count
                    document.getElementById(quantity).innerHTML = "₹ " + (quantity + cou) * (MRP)
                    document.getElementById('netTotal').innerHTML = "₹ " + response.netTotal
                    document.getElementById('total').innerHTML = "₹ " + response.grandTotal
                    document.getElementById("deliveryCharges").innerHTML = "₹ " + response.deliveryCharges

                }
            }
        })
    }
</script>
<script>
    function removeProductFromCart(cartId) {

        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                ).then(() => {
                    removeProduct()
                })
            }
        })
        function removeProduct() {
            $.ajax({
                url: "/remove-Product-forCart",
                data: {
                    cart: cartId,
                },
                method: "post",
                success: (response) => {
                    if (response) {
                        
                        location.reload()
                    }
                }
            })
        }
    }
</script>