<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Checkout</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/checkout">Checkout</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<div class="col-lg-4">



    <!-- Error handling of coupons  -->


    <div class="mt-3">
        <div class="alert alert-danger" style="display: none;" id="couponUsed" role="alert">
            This Coupon was redeemed
        </div>
        <div class="alert alert-danger" style="display: none;" id="couponInvalid" role="alert">
            This Coupon is
            invalid
        </div>
        <div class="alert alert-success" style="display: none;" id="couponSuccess" role="alert">
            Coupon Applied
            Successfully
        </div>
        <div class="alert alert-warning" style="display: none;" id="couponExpired" role="alert">
            Sorry!!! Your
            Coupon has been Expired
        </div>

        <div class="alert alert-warning" style="display: none;" id="couponMaxLimit" role="alert">
            Sorry!!! Your
            Coupon Has Reached Maximum Limit
        </div>
    </div>

    {{!-- modal management --}}
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">All Available Coupons</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                {{#each allCoupons }}
                <div class="modal-body">
                    <div class="row ">
                        <div class="col-12 ">
                            {{!-- <input type="text" name="" id="couponInput" value="{{this.couponCode}}" hidden> --}}

                            <div class="card">
                                <div class="card-body">
                                    <input type="text" name="" id="{{this._id}}" value="{{this.couponCode}}">
                                    <h1 id="couponCode" class="card-title">{{this.couponCode}}</h1>
                                    <p class="card-text">You Can get <span style="color:red">
                                            {{this.discount}}%</span>
                                        Discount for this Coupon</p>
                                    <p>Expired on : {{this.expirationTime}}</p>
                                    <button type="button" onclick="copyFunction('{{this._id}}')"
                                        class="btn btn-primary copy-button">Copy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{/each}}
                <div class="modal-footer"></div>

            </div>
        </div>
    </div>

</div>


<section class="checkout_area section_gap">
    <div class="container">

        <h4>Please, Select a Address</h4>
        <div class="row mb-4 mt-4">
            {{#each addresses.address}}
            <div class="card mr-4" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text">
                    <h6>{{this.fname}} {{this.lname}},</h6> {{this.house}}, {{this.towncity}},
                    {{this.district}}, {{this.state}}, Pincode: {{this.pincode}}</p>
                    <P style="color:black">Email: {{this.email}}</P>
                    <p style="color:black">Mobile: {{this.mobile}}</p>
                    <button
                        onclick="autofill('{{this.fname}}','{{this.lname}}','{{this.mobile}}','{{this.email}}','{{this.house}}','{{this.towncity}}','{{this.district}}','{{this.state}}','{{this.pincode}}')"
                        class="btn btn-warning">Use this Address</button>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="billing_details">
            <div class="row">
                <form class="row contact_form address-form" id="checkoutForm" method="post">
                    <div class="col-lg-8">
                        <hr>
                        <h3>Or Enter new Address below</h3>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" placeholder="First Name" id="fname" name="fname" required>

                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" placeholder="Last Name" id="lname" name="lname" required>

                        </div>

                        <input type="text" class="form-control" id="#" name="userId" value="{{addresses._id}}" hidden />


                        <div class="col-md-12 form-group" >
                            <input type="text" class="form-control" id="discountedPrice" name="discountedPrice"
                                value="0" />
                        </div>
                        <div class="col-md-12 form-group" >
                            <input type="number" class="form-control" id="MainTotal" name="mainTotal"
                                value="{{grandTotal}}"  />
                        </div>
                        <div class="col-md-12 form-group" >
                            <input type="text" class="form-control" id="couponName" name="couponName"
                                value="No Coupon Applied"  />
                        </div>
                        <div class="col-md-12 form-group" >
                            <input type="number" class="form-control" id="discountAmountPercentage"
                                name="discountAmountPercentage"  value="0" />
                        </div>


                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="house" name="house" placeholder="house name" required>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" placeholder="Phone Number" id="mobile"
                                name="mobile" required>

                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" placeholder="Email Address" id="email" name="email" required>

                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="towncity" name="towncity"
                                placeholder="Town City" required>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="district" name="district"
                                placeholder="District" required>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="state" name="state" placeholder="State" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="pincode" name="pincode" placeholder="Pincode" required>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">

                            {{!-- -----Discount Coupon----- --}}
                            <h4>Discount Coupon</h4>
                            <hr>
                            <a type="button" data-toggle="modal" data-target="#exampleModalCenter"
                                style="display: inline-block;" class="btn btn-warning mt-2 mb-3" href="#">Get new
                                Coupon</a>
                            <input class="form-control mb-3" type="text" style="margin-left: 0;" name="coupon"
                                id="couponInput" autocapitalize="on" placeholder="Enter coupon code">
                            <input class="form-control" type="text" style="margin-left: 0;" name="total"
                                value="{{netTotal}}" id="couponTotal" hidden>
                            <input class="form-control" type="text" style="margin-left: 0;" name="deliveryCharges"
                                value="{{deliveryCharges}}" id="deliveryCharges" hidden>
                            <a style="display: inline-block;" id="couponBtn" onclick="couponApply()"
                                class="btn btn-warning mt-3 mb-3" href="#">Apply Coupon</a>
                            <hr>

                            {{!-- -----Order----- --}}
                            <h2>Your Order</h2>
                            <ul class="list">
                                <li><a href="#">Product <span>Total</span></a></li>
                                {{#each cartItems.products}}
                                <li><a href="#">{{pro_id.Product_Name}}<span class="middle">x{{this.quantity}}</span>
                                        <span class="last">₹{{pro_id.MRP}}</span></a></li>
                                {{/each}}
                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">Subtotal <span>₹{{netTotal}}</span></a></li>
                                <li><a href="#">Shipping <span>₹{{deliveryCharges}}</span></a></li>
                                <li><a href="#">Coupon Discount <span id="discount">-₹{{discount}}</span></a></li>
                                <li><a href="#">Total <span id="totalWithCoupon">₹{{grandTotal}}</span></a></li>
                            </ul>
                            <div class="payment_item">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option5" value="Cash on Delivery" name="paymentMethod">
                                    <label for="f-option5">Cash on Delivery</label>
                                    <div class="check"></div>
                                </div>
                                <p>Please send a check to Store Name, Store Street, Store Town, Store State / County,
                                    Store Postcode.</p>
                            </div>
                            <div class="payment_item active">
                                <div class="radion_btn">
                                    <input type="radio" value="Razorpay" id="f-option6" name="paymentMethod">
                                    <label for="f-option6">Online Payment</label>
                                    <img src="user/img/product/card.jpg" alt="">
                                    <div class="check"></div>
                                </div>
                                <p>Pay via Razorpay; you can pay with Cash on Delivery option if you don't have a
                                    Razorpay payment Facility.</p>
                            </div>

                            <button type="submit" class="primary-btn">Proceed to order</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    $('#checkoutForm').submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkoutForm').serialize(),
            success: (response) => {
                alert(response)

                if (response.CODsuccess) {
                    location.href = '/order-success'
                } else {
                    razorpayPayment(response)
                }
            }

        })
    })


    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_Wbq5TjB5AZcrAJ", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "ShoeLab",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                {{!-- alert(response.razorpay_payment_id);
                alert(response.razorpay_order_id);
                alert(response.razorpay_signature) --}}

                verifyPayment(response, order)
            },
            "prefill": {
                "name": "ShoeLab Corporation",
                "email": "okbei@example.com",
                "contact": "8592833605"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#ffb900"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }



    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.href = '/order-success'
                } else {
                    alert('Payment failed successfully')
                }
            }
        })
    }

</script>
<script>
    function autofill(fname, lname, mobile, email, house, towncity, district, state, pincode) {
        console.log('autofil address')
        document.getElementById('fname').value = fname
        document.getElementById('lname').value = lname
        document.getElementById('mobile').value = mobile
        document.getElementById('email').value = email
        document.getElementById('house').value = house

        document.getElementById('towncity').value = towncity
        document.getElementById('district').value = district
        document.getElementById('state').value = state
        document.getElementById('pincode').value = pincode


    }
</script>

<script>
    function couponApply() {
        let couponCode = document.getElementById('couponInput').value
        let couponTotal = document.getElementById('couponTotal').value
        let deliveryCharges = document.getElementById('deliveryCharges').value
        document.getElementById('couponName').value = couponCode

        $.ajax({
            url: '/apply-coupon',
            data: {
                coupon: couponCode,
                total: couponTotal,
                deliveryCharges: deliveryCharges
            },
            method: 'post',
            success: (response) => {
                if (response.couponSuccess) {
                    let oldTotal = parseInt(document.getElementById('couponTotal').value)
                    let discount = oldTotal - parseInt(response.total) + parseInt(deliveryCharges)

                    let discountPercentage = parseInt(response.discountpers)
                    document.getElementById('totalWithCoupon').innerHTML = '₹' + response.total
                    document.getElementById('discountedPrice').value = discount
                    document.getElementById('discount').innerHTML = '₹' + discount
                    document.getElementById('discountAmountPercentage').value = discountPercentage

                    document.getElementById('MainTotal').value = response.total
                    $('#discountspan').html(parseInt(discount))
                    $('#discountspan').show()
                    $('#discountLabel').show()
                    $('#discounttd').show()
                    $('#newTotal').show()
                    $('#tdTotal').show()
                    $('#totalOriginal').show()

                    document.getElementById('grandTotal').innerHTML = '₹' + response.total
                    $('#couponSuccess').show()
                    $('#couponUsed').hide()
                    $('#couponInvalid').hide()
                    $('#couponExpired').hide()
                    $('#couponMaxLimit').hide()

                }

                if (response.couponUsed) {
                    $('#couponUsed').show()
                    $('#couponSuccess').hide()
                    $('#couponInvalid').hide()
                    $('#couponExpired').hide()
                    $('#discountspan').hide()
                    $('#discountLabel').hide()
                    $('#couponMaxLimit').hide()
                }

                if (response.invalidCoupon) {
                    $('#couponInvalid').show()
                    $('#couponSuccess').hide()
                    $('#couponUsed').hide()
                    $('#couponExpired').hide()
                    $('#discountspan').hide()
                    $('#discountLabel').hide()
                    $('#couponMaxLimit').hide()
                }
                if (response.couponExpired) {
                    $('#couponExpired').show()
                    $('#couponSuccess').hide()
                    $('#couponInvalid').hide()
                    $('#couponUsed').hide()
                    $('#discountspan').hide()
                    $('#discountLabel').hide()
                    $('#couponMaxLimit').hide()
                }
                if (response.couponMaxLimit) {
                    $('#couponMaxLimit').show()
                    $('#couponExpired').hide()
                    $('#couponSuccess').hide()
                    $('#couponInvalid').hide()
                    $('#couponUsed').hide()
                    $('#discountspan').hide()
                    $('#discountLabel').hide()
                }
            }
        })
    }
</script>

<script>
    function copyFunction(couponId) {
        var copyText = document.getElementById(couponId)
        copyText.select()
        copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText.value)

        $(".copy-button").on('click', function (e) {
            e.preventDefault()
            var self = $(this)
            console.log(self.data('title'))
            Swal.fire({
                position: 'top-center',
                icon: 'success',
                title: 'Coupon Copied ' + "'" + copyText.value + "'",
                showConfirmButton: false,
                timer: 2000
            })
        })
    }
</script>