<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Confirmation</h1>
				<nav class="d-flex align-items-center">
					<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
					<a href="category.html">Confirmation</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->

<!--================Order Details Area =================-->
<section class="order_details section_gap">
	<div class="container">
		<h2 class="title_confirmation">Thank you. Your order has been received.</h2>
		<div class="row order_d_inner">
			<div class="col-lg-4">
				<div class="details_item">
					<h4>Order Info</h4>
					<ul class="list">
						<h5>{{orderProducts.fname}} {{orderProducts.paymentMethod}}</h5>
						<li><a href="#"><span>House Name</span> : {{orderProducts.deliveryDetails.house}}</a></li>
						<li><a href="#"><span>Town City</span> : {{orderProducts.deliveryDetails.towncity}}</a></li>
						<li><a href="#"><span>District</span> : {{this.district}}</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="details_item">
					<ul class="list">
						<li><a href="#"><span>State</span> : {{this.state}}</a></li>
						<li><a href="#"><span>Pincode</span> : {{this.pincode}}</a></li>
						<li><a href="#"><span>Email Address</span> : {{this.email}}</a></li>
						<li><a href="#"><span>Mobile Number</span> : {{this.mobile}}</a></li>
					</ul>
				</div>
			</div>

		</div>
		<div class="order_details_table">
			<h2>Order Details</h2>
			<div class="table-responsive">
				<table class="table">
					
					<tbody>
						
						<tr>
							<td>
								<h4>Subtotal</h4>
							</td>
							<td>
								<h5></h5>
							</td>
							<td>
								<p>$2160.00</p>
							</td>
						</tr>
						<tr>
							<td>
								<h4>Shipping</h4>
							</td>
							<td>
								<h5></h5>
							</td>
							<td>
								<p>Flat rate: $50.00</p>
							</td>
						</tr>
						<tr>
							<td>
								<h4>Total</h4>
							</td>
							<td>
								<h5></h5>
							</td>
							<td>
								<p>$2210.00</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
<!--================End Order Details Area =================-->